.main{
  height: 100vh;
  width: 60%;
  display: flex;
  background-color: bisque;
  
  
}

header{
  font-size: 5vh;
  background-color: blue;
  width: 62%;
}
h1{
  font-size: 3vh;
  width: 70%;
  font-weight: bold;
  text-decoration: underline;

}
.JSON{
  height:30vh;
  width: 60vh;
  background-color: aqua;
  flex-wrap: wrap;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



